@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --background-white: #f6f6f6;
  --text-color: #383434fc;

}

h1 {
  font-family: var(--font-rubik), sans-serif;

}

h2 {
  font-family: var(--font-lora), sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: var(--text-color)

}

h3 {
  font-family: var(--font-lora), sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  color: var(--text-color)
}

p {
  font-family: var(--font-lora), sans-serif;
  font-weight: 300;
  font-size: 12px;
}

span {
  font-family: var(--font-lora);
  font-weight: 300;
  color: var(--text-color)
}

body {
  background: var(--background-white);
}