.containerBlock {
   margin-bottom: 5%;
    display: block;
    overflow: hidden;
}

.parallaxBg {
    z-index: -1;
    background: url("/static/img/tech_bg.jpg") no-repeat;
    background-size: 100% 50%;
    background-attachment: fixed;
    height: 50vh;
    
}

.navbackground {
    background-color: #ffffffea;
    backdrop-filter: blur(5%);
}

.bgStack {
    background: url('/static/img/VScode.jpg') no-repeat;
    background-size: 100% 100%;
    background-position: center;
   
   
}
